*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: #111010;
}

.centeredContainer{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.container{
     max-height: 400px !important;
     border-radius: 20px !important;
}

input{
     color: white !important;
}

